	<div class="container-fluid heading" id = "title">
  		<h1 id="title"><img src="images/check_no.png" width="60" height = "60" alt="logo"/>Votify</h1>
				
  		<p class="hidden-xs" id="head1">Share Your Political Views</p>		
    </div>
	<div class="w3-third" id="headline">
		<h3>Twitter</h3>
		<p>Tweet 1</p>
		<p>Tweet 2</p>
		<p>Tweet 3</p>
		<p>Tweet 4</p>
  </div>

  <div class="container"id="TopArticle">
	  <h2>Top Articles</h2>
	    <br>
  <br>
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-third">
      <img src="images/gov.jpeg" alt="News" style="width:100%">
      <h3>The Perfect Storm, A Real Story</h3>
      <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-third">
      <img src="images/topArticle.jpeg" alt="Steak" style="width:100%">
      <h3>Let Me Tell You About This Bill</h3>
      <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
	<div class="w3-third">
      <img src="images/codes.jpg" alt="Steak" style="width:100%">
      <h3>Is The CIA Watching Me?</h3>
      <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
  </div>
  </div>
</div>