<div>
    <br>
    <br>
    <h1>Newsfeed</h1>

    <div id="feed">
        <div id="votes">
            <p>Votes</p>
            <input type="image" src="images/download-arrow.svg" width =24px height=24px id="up" ng-click="UpVote()">{{count}}<img src="images/downA.svg" width =24px height=24px ng-click="DownVote()">{{count1}}
        </div>
        <p>Article 1</p>
        <p id = "descrip">Generic description... </p>
    </div>
    <div id="feed">
        <div id="votes">
            <p>Votes</p>
            <input type="image" src="images/download-arrow.svg" width =24px height=24px id="up" ng-click="UpVote()">{{count}}<img src="images/downA.svg" width =24px height=24px ng-click="DownVote()">{{count1}}
        </div>
        <p>Article 2</p>
        <p id = "descrip">Generic description... </p>
    </div>
    <div id="feed">
        <div id="votes">
            <p>Votes</p>
            <input type="image" src="images/download-arrow.svg" width =24px height=24px id="up" ng-click="UpVote()">{{count}}<img src="images/downA.svg" width =24px height=24px ng-click="DownVote()">{{count1}}
        </div>
        <p>Article 3</p>
        <p id = "descrip">Generic description... </p>
    </div>
    <div id="feed">
        <div id="votes">
            <p>Votes</p>
            <input type="image" src="images/download-arrow.svg" width =24px height=24px id="up" ng-click="UpVote()">{{count}}<img src="images/downA.svg" width =24px height=24px ng-click="DownVote()">{{count1}}
        </div>
        <p>Article 4</p>
        <p id = "descrip">Generic description... </p>
    </div>
    <div id="feed">
        <div id="votes">
            <p>Votes</p>
            <input type="image" src="images/download-arrow.svg" width =24px height=24px id="up" ng-click="UpVote()">{{count}}<img src="images/downA.svg" width =24px height=24px ng-click="DownVote()">{{count1}}
        </div>
        <p>Article 5</p>
        <p id = "descrip">Generic description... </p>
    </div>
    <div id="feed">
        <div id="votes">
            <p>Votes</p>
            <input type="image" src="images/download-arrow.svg" width =24px height=24px id="up" ng-click="UpVote()">{{count}}<img src="images/downA.svg" width =24px height=24px ng-click="DownVote()">{{count1}}
        </div>
        <p>Article 6</p>
        <p id = "descrip">Generic description... </p>
    </div>

</div>