<br>
<br>
<br>
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="images/rep1.jpg" style="width:100%" alt="Avatar">
        </div>
        <div class="w3-container">
        <h2>Jane Doe</h2>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Representative (D)</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>23rd Legislative Distrcit</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>representative@email.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>1224435534</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Olympia Address</b></p>
          <p>132F Legislative Building</p>
          <p>PO Box 40600</p>
          <p>Olympia, WA 98504</p>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Committees</b></p>
          <p>Local Government (Chair)</p>
          <p>Public Safety</p> 
          <p>State Government, Elections & Information Technology</p>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Roll Call and Voting Data</h2>
        <h5 class="w3-opacity"><b>Average Roll Call Attendance by Year</b></h5>
        <div id="vis1" class="container">
        </div>
      </div>

      <div class="w3-container w3-card-2 w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>About</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Past Positions</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Position 1</h6>
          <p>My first politcal position</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>College</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 - 2015</h6>
          <p>Master Degree</p>
          <hr>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>