<br>
<br>
<br>
<!-- First Photo Grid-->
  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-third w3-container w3-margin-bottom w3-right">
      <div class="w3-container w3-white">
        <input type="text" name="search" placeholder="Search..">
      </div>
    </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button">Select A Position</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item w3-button">Senators</a>
        <a href="#" class="w3-bar-item w3-button">Legislators</a>
        <a href="#" class="w3-bar-item w3-button">Governors</a>
      </div>
    </div>
    <div class="w3-dropdown-hover">
      <button class="w3-button">Select A District</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item w3-button">District 1</a>
        <a href="#" class="w3-bar-item w3-button">District 2</a>
        <a href="#" class="w3-bar-item w3-button">District 3</a>
      </div>
    </div>
  </div>
  
  <!--THIS IS WHAT-->
  <div class="w3-row-padding" ng-repeat="item in politicians track by $index" ng-if="$index % 3 == 0">
    <div class="w3-third w3-container w3-margin-bottom" 
        ng-repeat="i in [$index, $index + 1, $index + 2]" 
        ng-if="politicians[i] != null">
        <a ui-sref='pol_profile({ idSponsor : politicians[i].idSponsor })' style="display: block; margin: auto; width:75%;"><img src="{{politicians[i].PictureFilePath}}" alt="{{politicians[i].Name}}" style="width:100%" class="w3-hover-opacity"></a>
        <div class="w3-container w3-padding" style="margin-left: 10%">
          <h3><a ui-sref='pol_profile({ idSponsor : politicians[i].idSponsor })'>{{politicians[i].Name}}</a></h3>
          <div class="w3-margin-left">
            <p>
              <strong>Agency:</strong> {{politicians[i].Agency}}
            </p>
            <p>
              <strong>District:</strong> {{politicians[i].District}}
            </p>
            <p>
              <strong>Email:</strong> {{politicians[i].Email}}
            </p>
            <p>
              <strong>Party:</strong> {{politicians[i].Party === "D" ? "Democrat" : "Republican"}}
            </p>
            <p>
              <strong>Phone:</strong> {{politicians[i].Phone}}
            </p>
          </div>
        </div>
    </div>
  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>

</html>