<!--
Active:1
Agency:"House"
Biennium:"2017-18"
BillID:"EHB 1656"
BillId:"EHB 1656"
BillNumber:1656
EngrossedVersion:1
LegislationInfo_idLegislationInfo:952
Motion:"Final Passage"
OriginalAgency:"House"
SequenceNumber:15
ShortLegislationType:"B"
SubstituteVersion:0
VoteDate:"2017-03-08T08:00:00.000Z"
idLegislationInfo:952
idRollCall:441
-->

<!--<embed src="http://example.com/the.pdf" width="500" height="375" type='application/pdf'>-->

<br>
<br>
<br>
<div class="w3-row-padding">

  <div class="w3-col m6 l6">
    <div class="w3-container">
        <h2>Bill Information:</h2>
        <p>Title: {{bill[0][0][0].LegalTitle}}</p>
        <p>Description: {{bill[0][0][0].LongDescription}}</p>
        <p>Active: {{bill[0][0][0].Active}}</p>
        <p>BillID: {{bill[0][0][0].BillID}}</p>
    </div>
  </div>

  <div class="w3-col m6 l6">
    <div class="w3-container">
        <h2>Full Bill:</h2>
        <embed src="{{bill[2][0][0]}}" width="500" height="375" type='application/pdf'>
    </div>
  </div>

</div>

<div class="w3-row-padding w3-margin-bottom">
    <h2>Roll Call:</h2>

    <div ng-if="bill[1][0].length === 0">
        <div class="w3-center">
            <h3>No Roll Call has been taken on this bill</h3>
        </div>
    </div>

    <div ng-if="bill[1][0].length !== 0">
        <div class="w3-center">
            <p>Agency: {{bill[1][0][0].Agency}}</p>
            <p>Motion: {{bill[1][0][0].Motion}}</p>
        </div>

        <div class="w3-col m4 l4">
            <div class="w3-container w3-center">
                <h3>Yea Votes</h3>
                <div ng-repeat="item in bill[1][0]" ng-if="item.Vote === 'Yea'">
                    <strong>{{item.FirstName}} {{item.LastName}}</strong> : {{item.Vote}} : {{item.Party}}
                </div>
            </div>
        </div>

        <div class="w3-col m4 l4">
            <div class="w3-container w3-center">
                <h3>Nay Votes</h3>
                <div ng-repeat="item in bill[1][0]" ng-if="item.Vote === 'Nay'">
                    <strong>{{item.FirstName}} {{item.LastName}}</strong> : {{item.Vote}} : {{item.Party}}
                </div>
            </div>
        </div>

        <div class="w3-col m4 l4">
            <div class="w3-container w3-center">
                <h3>Excused/Absent Votes</h3>
                <div ng-repeat="item in bill[1][0]" ng-if="item.Vote === 'Excused' || item.Vote === 'Absent'">
                    <strong>{{item.FirstName}} {{item.LastName}}</strong> : {{item.Vote}} : {{item.Party}}
                </div>
            </div>
        </div>
    </div>

</div>
